!!!
%html
  %head
    %title What We Know From Facebook Research
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Josefin%20Slab'
    = javascript_include_tag    'http://d3js.org/d3.v3.min.js', charset: 'utf-8'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #header
      #brand
        Facebook Research Visualization
      #method
        Publications scraped from
        = link_to "here.", "https://facebook.com/publications"
        Research summaries written up and curated by Mechanical Turkers.
    #viz
      = yield
    #footer
      %p
        Mad? Intrigued? Inspired? Get in
        = mail_to "sauvik@cmu.edu", "touch"