!!!
%html
  %head
    %title Facebook Research Summaries
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Josefin%20Slab'
    = javascript_include_tag    '//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js', charset: 'utf-8'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #header
      #brand
        Research Summaries
    #viz
      = yield
    #footer
      %p
        Mad? Intrigued? Inspired? Get in
        = mail_to "sauvik@cmu.edu", "touch"